<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Reservas_Vuelo.DataLayer.Properties.Settings.Reservas_VueloConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Reservas_Vuelo.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Reservas_Vuelo.DataLayer.Properties.Settings.Reservas_VueloConnectionString1" connectionString="Data Source=FLORROCHA-VAIO;Initial Catalog=Reservas_Vuelo;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Reservas_VueloEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Reservas_Vuelo.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>