<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Reservas_Vuelo.DataLayer.Properties.Settings.Reservas_VueloConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Reservas_Vuelo.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Reservas_Vuelo.DataLayer.Properties.Settings.Reservas_VueloConnectionString1" connectionString="Data Source=FLORROCHA-VAIO;Initial Catalog=Reservas_Vuelo;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>