<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Reservas_Vuelo.DataLayer.Properties.Settings.Reservas_VueloConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Reservas_Vuelo.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Reservas_Vuelo.DataLayer.Properties.Settings.Reservas_VueloConnectionString1" connectionString="Data Source=FLORROCHA-VAIO;Initial Catalog=Reservas_Vuelo;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Reservas_VueloEntities" connectionString="metadata=res://*/DataSource.csdl|res://*/DataSource.ssdl|res://*/DataSource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FLORROCHA-VAIO;initial catalog=Reservas_Vuelo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Reservas_VueloEntities1" connectionString="metadata=res://*/Model_Reservas.csdl|res://*/Model_Reservas.ssdl|res://*/Model_Reservas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FLORROCHA-VAIO;initial catalog=Reservas_Vuelo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>